@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Seja Lá Onde For nº31<br />
    São Paulo, SP 98052-6399<br />
    <abbr title="Telefone">Telefone:</abbr>
    3433-4362(Todo o Brasil)
</address>

<address>
    <strong>E-mail:</strong> <a href="viagensbrasil">bruno.picchi@viagensbrasil.com.br</a><br />
    <strong>Parceria Azul:</strong> <a href="www.voeazul.com.br">www.voeazul.com.br</a>
</address>
